{% extends 'base.html' %}

{% block title %}
home
{% endblock title %}

{% block content %}



<div class="first">
    <img src="https://cdn.discordapp.com/attachments/802608908140675092/864076822261137438/-1987987.jpg" width="700px" class="photo-first-page">
    <h4 class="first-text">За простой вещью может скрываться что-то <div class="word-1">большее</div></h4>
</div>


<div style="clear: left"></div>


<div class="second">
    <div class="second-text-block">
        <p>
            <img class="photo-second-page" src="https://cdn.discordapp.com/attachments/802608908140675092/864097704145059860/-112345678765432.jpg" width="700px">
            Скоро у нас появится Android и IOS приложение для удобного общения.
            <hr noshade size="4">
        </p>
    </div>
</div>


<br><br><br><br><br><br><br>


<div class="third">
    <img src="https://static.djangoproject.com/img/fundraising-heart.cd6bb84ffd33.svg" width="500px" class="photo-first-page">
    <h4 class="third-text">Совсем скоро у нас будет конкурс на самого активного пользователя</h4>
    <h1 class="konkurs">Узнать больше</h1>
</div>


<div style="clear: left"></div>
<br><br><br><br><br><br><br><br><br><br><br><br>


<div class="forth">
    <div class="text-block">
        <p class="f-block-info">
            <img class="photo-second2-page" src="https://cdn.discordapp.com/attachments/802608908140675092/864125070628487168/tree.jpg" width="800px">
            ForestChill - это место, где не надо выставлять себя на показ. Надо открыто делиться полезной и интересной информацией :)
            <hr noshade size="1">
        </p>
    </div>
</div>

<div style="clear: left"></div>
<div style="clear: right"></div>
<footer>
    <h4 class="foot-el">о нас</h4>
    <h4 class="foot-el">задонатить</h4>
    <h4 class="foot-el">чиллить</h4>
    <h4 class="foot-el">поддержка</h4>
    <h4 class="foot-el">онлайн игра</h4>
    <img src="https://cdn.discordapp.com/attachments/769529626610368522/863343768748687360/unknown.png" width="200px" class="foot-logo">

</footer>

{% endblock content %}

{% block scripts %}
<script>
$(window).scroll(function(){
if($(window).scrollTop > $('.elem').offset().top){
// показать нужный объект
}
})
</script>
{% endblock scripts %}